In [1]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("cricket.csv")

In [4]:
df.head()

    Outlook  Temp Humidity Windy Play Cricket
0     Rainy   Hot     High    No           No
1     Rainy   Hot     High   Yes           No
2  Overcast   Hot     High    No          Yes
3     Sunny  Mild     High    No          Yes
4     Sunny  Cool   Normal    No          Yes

In [5]:
df.tail()

     Outlook  Temp Humidity Windy Play Cricket
9      Sunny  Mild   Normal    No          Yes
10     Rainy  Mild   Normal   Yes          Yes
11  Overcast  Mild     High   Yes          Yes
12  Overcast   Hot   Normal    No          Yes
13     Sunny  Mild     High   Yes           No

In [6]:
df.head(10)

    Outlook  Temp Humidity Windy Play Cricket
0     Rainy   Hot     High    No           No
1     Rainy   Hot     High   Yes           No
2  Overcast   Hot     High    No          Yes
3     Sunny  Mild     High    No          Yes
4     Sunny  Cool   Normal    No          Yes
5     Sunny  Cool   Normal   Yes           No
6  Overcast  Cool   Normal   Yes          Yes
7     Rainy  Mild     High    No           No
8     Rainy  Cool   Normal    No          Yes
9     Sunny  Mild   Normal    No          Yes

In [8]:
df.isnull().sum()

Outlook         0
Temp            0
Humidity        0
Windy           0
Play Cricket    0
dtype: int64

In [12]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

# Load the dataset
df = pd.read_csv("cricket.csv")

# Print the first few rows to verify
print("Original Data:")
print(df.head())

# Encode categorical features
label_encoders = {}
for column in df.columns:
    le = LabelEncoder()
    df[column] = le.fit_transform(df[column])
    label_encoders[column] = le  # Save encoder for future use (e.g., inverse transform)

# Split into features and target
X = df.drop('Play Cricket', axis=1)
y = df['Play Cricket']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train the KNN model
knn = KNeighborsClassifier(n_neighbors=3)
knn.fit(X_train, y_train)

# Predict and evaluate
y_pred = knn.predict(X_test)
print("Accuracy:", accuracy_score(y_test, y_pred))

# Predict on a new sample (e.g., ['Sunny', 'Cool', 'Normal', 'Yes'])
sample = pd.DataFrame([['Sunny', 'Cool', 'Normal', 'Yes']], columns=['Outlook', 'Temp', 'Humidity', 'Windy'])

# Encode the sample using the same label encoders
for col in sample.columns:
    sample[col] = label_encoders[col].transform(sample[col])

# Predict
prediction = knn.predict(sample)
predicted_label = label_encoders['Play Cricket'].inverse_transform(prediction)

print("Prediction for new sample:", predicted_label[0])

Original Data:
    Outlook  Temp Humidity Windy Play Cricket
0     Rainy   Hot     High    No           No
1     Rainy   Hot     High   Yes           No
2  Overcast   Hot     High    No          Yes
3     Sunny  Mild     High    No          Yes
4     Sunny  Cool   Normal    No          Yes
Accuracy: 0.3333333333333333
Prediction for new sample: Yes